<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>You've got new course notes from your trainer</title>
</head>
<body style="font-family: Arial, Helvetica, sans-serif; color: #333; margin: 0; padding: 0;">
<div style="max-width: 640px; margin: 0 auto; background: #ffffff;">
    <div style="display: flex; padding: 6px;">
        <img src="cid:logo.png" alt="Internship" style="flex: 1; max-width: 100px; max-height: 100px;">
        <span style="flex: 1; margin-top: 26px; font-size: xx-large">PHP Internship 2025 @ Evozon</span>
    </div>
    <div style="background: #ffffff; text-align: center;">
        <img src="cid:header.png" alt="Header" style="max-width: 100%; height: auto; border: 0;">
    </div>
    <div style="display: flex; background: #ffffff;">
        <div style="flex: 1; padding: 12px; line-height: 1.6;">
            <h1>Hello, dear intern</h1>
            <p>
                The course notes for the chapters: {{ chapters|join(', ')|replace({'-':' '}) }} are ready for you to
                consult. Please find them attached to this email.
            </p>
            <p>
                Happy learning!
            </p>
        </div>
    </div>
    <div style="background: #ffffff; color: #666; font-size: 12px; text-align: center; padding: 16px;">
        <img src="cid:footer.png" alt="Footer" style="max-width: 100%; height: auto; border: 0;">
    </div>
</div>
</body>
</html>
